<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="Jugar memorama en línea">
    <title>Leonardo Muñoz Capuchino</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
</head>

<body style="background: rgb(177,187,6);
background: linear-gradient(90deg, rgba(177,187,6,1) 0%, rgba(230,236,2,1) 47%, rgba(0,212,255,1) 100%);">
    <main role="main" class="container-fluid" id="app">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Juego de memorama</h1>
                <h2 style="color: red ;" class="text-center">Personajes de Mario Bros</h2>
                <p>
                        <span class="h5">Intentos: </span>
                        {{attempts}}/{{maximumAttempts}}&nbsp;<span class="h5">Aciertos:
                        </span> {{hits}}
                    </p>
            </div>
        </div>
        <div v-for="(fila, rowIndex) in memorama" :key="rowIndex" class="row">
            <div :key="rowIndex+''+imageIndex" class="col-3" v-for="(imagen, imageIndex) in fila">
                <div class="mb-3">
                    <img @click="turnCard(rowIndex, imageIndex)" :class="{'girar': imagen.mostrar}" :src="(imagen.mostrar ? imagen.ruta :
                            questionImage)" class="card-img-top img-fluid
                            img-thumbnail">
                </div>
            </div>
        </div>
    </main>
    <script src="./app/sweetalert2.all.min.js"></script>
    <script src="./app/function.js"></script>
    <script src="./app/script.js"></script>
</body>

</html>